body{
    padding: 50px 100px;
}

h1{
    text-align: center;
}

#container{
    text-align: center;
    background-color: orange;
    padding: 50px;
}

.input-div{
    display: inline-block;
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

label{
    font-size: 22px;
    font-weight: 600;
    color: black;
}